@model Teacher
@{
    ViewData["Title"] = "DeleteTeacher";
}
<form method="post" class="form-control w-75 FormAll">


    <label asp-for="Id" class="form-control btn btn-primary m-2"></label>
    <input asp-for="Id" class="form-control m-2" />
    <span asp-validation-for="Id"></span>



    <label asp-for="Name" class="form-control btn btn-primary m-2"></label>
    <input asp-for="Name" class="form-control m-2" />
    <span asp-validation-for="Name"></span>


    <label asp-for="Specialization" class="form-control btn btn-primary m-2"></label>
    <input asp-for="Specialization" class="form-control m-2" />
    <span asp-validation-for="Specialization"></span>

    <input type="submit" class="form-control btn btn-primary m-2" value="DeleteTeacher" />
    <a asp-action="AllTeacher" asp-controller="Staff" class="form-control btn btn-info m-2">
        Back To All Teachers
    </a>
</form>

