@model MatrialsRecord
@{
    ViewData["Title"] = "RecordingOfMaterial";
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

@if (TempData["Failed"] != null)
{
    <script type="text/javascript">
        toastr.error('@TempData["Failed"]', 'Message!')
    </script>
}
<form method="post" class="form-control w-75 FormAll bg-primary ">

    <div class=" m-3 ">
        <label asp-for="StudentId"> StudentId :</label>
        <input asp-for="StudentId" class="border-2"/>
    </div>
    <div class=" m-1 row">
        <label asp-for="Arabic"></label>
        <input asp-for="Arabic" />
    </div>
    <div class=" m-1 row">
        <label asp-for="English"></label>
        <input asp-for="English" />
    </div>
    <div class=" m-1 row">
        <label asp-for="Physics"></label>
        <input asp-for="Physics" />

    </div>
    <div class=" m-1 row">
        <label asp-for="Biology"></label>
        <input asp-for="Biology" />
    </div>
    <div class="m-1 row">
        <label asp-for="Math"></label>
        <input asp-for="Math" />
    </div>
    <div class=" m-1">

        <input type="submit" value="Record" class="btn btn-primary m-1" />
        <a asp-controller ="Staff" asp-action="AllStudent" class="btn btn-info">
            Back To All Studentes
</a>
    </div>
</form>

