@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/Home.css" rel="stylesheet" />
<div class="Home">
    <h2>بسم الله الرحمن الرحيم </h2>
</div>
<ol type="I">
    <li>يسعى مركزنا التعليمي إلى توفير بيئة تعليمية محفزة وداعمة لتنمية المهارات الأكاديمية
        والشخصية للطلاب من جميع المراحل</li>
        <li>
        يقدم المركز مجموعة متنوعة من البرامج التعليمية والتدريبية 
        التي تواكب احتياجات سوق العمل والتطورات التكنولوجية الحديثة
        </li>
        <li>
        يضم طاقم تدريسي مؤهل ومتخصص في مختلف التخصصات، مما يضمن تقديم
        أعلى مستويات التعليم والتوجيه للطلاب.
        </li>
        <li>
        تم تجهيز المركز بأحدث التقنيات والوسائل التعليمية التفاعلية
        لتعزيز عملية التعلم وتحفيز الطلاب على الابتكار والإبداع
        </li>
        <li>
        يحرص المركز على تنظيم ورش عمل وأنشطة لا صفية
        متنوعة، تهدف إلى إثراء الخبرات العملية للطلاب وتنمية مهاراتهم الحياتية.
        </li>
        <li>
        يفخر المركز بحصوله على شهادات اعتماد وجوائز تقديرية على مستوى المحلي
        والإقليمي، مما يؤكد على جودة الخدمات التعليمية التي يقدمها.
        </li>
</ol>